.container {
  width: 450px;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.container div:first-child {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container div:first-child img {
  margin-right: 10px;
}
textarea {
  width: 400px;
  background-color: #ffe5ad;
  border-radius: 5px;
  border: 1px solid #e9cf07;
  padding: 10px;
  resize: none;
  color: #3e001f;
  font-family: inherit;
  font-size: large;
  margin-top: 20px;
}
textarea:focus {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
}
textarea::placeholder {
  color: #3e001f;
  opacity: 0.4;
}
select {
  width: 400px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #3e001f;
  font-family: inherit;
  font-size: medium;
}
select::-webkit-scrollbar {
  width: 10px;
}
select::-webkit-scrollbar-track {
  background-color: #ffe5ad;
}
select::-webkit-scrollbar-thumb {
  background-color: #f11a7b;
  border-radius: 5px;
}
select option {
  background-color: #ffe5ad;
  padding: 10px;
}
select option:hover {
  background-color: #f11a7b;
}
