:root {
  font-family: cursive;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #982176, #ffe5ad, #3e001f);
  color: #3e001f;
}

h2 {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f11a7b;
  cursor: pointer;
  transition: background-color 0.55s;
  color: #ffffff;
  margin: 15px;
}
button:hover {
  border: 1px solid #f11a7b;
  background-color: #ffffff;
  color: #f11a7b;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
